@charset "UTF-8";
/* CSS Document */

/* Contest Scoreboard Style */

#scoreboardWrapper {
	transition: none;
}

.contest-wrapper {
	margin: 0 auto;
	padding: 40px;
	min-height: 500px;
}

.contest-table {
	width: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	table-layout: auto;
}

.contest-info-wrapper {
	position: relative;
	display: inline-block;
}

#countdownTimerLbl {
	margin-top: 7px;
	padding: 0;
	position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
}

.problem-color-code {
	display: inline-block;
	border-radius: 1px;
	width: 15px;
	height: 15px;
	margin-bottom: -3px;
	margin-right: 5px;
	background: var(--primary-status);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
}

.legend-table {
	margin-bottom: 7px;
	padding: 5px;
	display: table;
	float: right;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.26);
	background: var(--secondary-background);
	opacity: 0.3;
	cursor: pointer;
	height: 35px;
	width: 425px;
}

.legend-table:hover, .legend-table.selected {
	opacity: 1;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.legend-table:active {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
	transform: scale(0.995);
}

.legend-table .legend-cell {
	/* legend cell wrapper */
	padding: 4px 2px;
	font-size: 8px;
	line-height: 12px;
	font-weight: 700;
	margin-right: 2px;
	margin-left: 4px;
	margin-top: 2px;
	display: table-cell;
}

.legend-status {
	/* colored square */
	width: 12px;
	height: 12px;
	display: table-cell;
	margin-right: 3px;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.legend-status.first-answer {
	background: var(--secondary-active);
}

.legend-status.right-answer {
	background: var(--primary-active);
}

.legend-status.wrong-answer {
	background: var(--primary-destructive);
}

.legend-table .legend-cell .legend-text {
	/* colored square */
	font-family: brandon-grotesque, sans-serif;
	font-size: 10px;
	color: var(--tertiary-foreground);
	margin-left: 5px;
	padding-left: 5px;
	display: table-cell;
}

@media screen and (max-width: 580px) {
	.contest-table {
		display: block;
	}
}

.timeago {
	font-family: brandon-grotesque, sans-serif; 
	font-size:14px; 
	color: var(--primary-status);
}

.contest-row {
	background: var(--contest-even-row);
}
.contest-row:nth-of-type(odd) {
	background: var(--contest-odd-row);
}
.contest-row.header {
	font-weight: 900;
	color: var(--tertiary-foreground);
	background: var(--secondary-destructive);
}
.contest-row.green {
	background: var(--primary-active);
}

.contest-row.blue {
	background: var(--primary-inactive);
}

@media screen and (max-width: 580px) {
	.contest-row {
		padding: 8px 0;
		display: block;
	}
}

.contest-cell {
	padding: 6px 12px;
	font-size: 13px;
	text-align: center;
	max-width: 20%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

@media screen and (max-width: 580px) {
	.contest-cell {
		padding: 2px 12px;
		display: block;
	}
}

.contest-cell.wrong-answer {
	background: var(--primary-destructive);
	color: var(--contest-foreground);
}

.contest-cell.right-answer {
	background: var(--primary-active);
}

.contest-cell.first-answer {
	background: var(--secondary-active);
	color: var(--contest-foreground);
}

.contest-cell.last-submission {
	background: var(--tertiary-inactive);
	color: var(--contest-foreground);
}



