@charset "UTF-8";
/* CSS Document */

/* Floating Action Button Style */
.fab-wrapper {
	position: fixed;
	bottom: 3em;
	right: 2em;
	text-align: center;
}

.action-button, 
.fab-wrapper .panel-button {
	height: 4em;
	width: 4em;
	font-size: 12px;
	border-radius: 50%;
	border: 0 none;
	background: var(--secondary-background);
	opacity: 0.5;
	color: var(--tertiary-foreground);
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transform: scale(1);
	transition: all 200ms ease;
}

.action-button:hover,
.action-button:focus,
.fab-wrapper .panel-button:hover,
.fab-wrapper .panel-button:focus {
	opacity: 1;
	outline: 0;
}

.action-button:active, .fab-wrapper .panel-button:active {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	outline: 0;
}

.action-button span {
	display: block;
	vertical-align: middle;
	line-height: 2em;
	font-size: 2em;
	transform: scale(1);
	transition: transform 100ms ease;
}

.action-button:hover span,
.expanded .action-button span {
	transform: scale(1.05);
}

.expanded .action-button,
.fab-wrapper .panel-element.selected .panel-button {
	opacity: 1;
}

.fab-wrapper .panel,
.hotkeys-panel {
	box-shadow: 0 0 5px rgba(0,0,0,0.26);
	position: absolute;
	bottom: 3.5em;
	right: 0;
	width: 50px;
	text-align: left;
	overflow: visible;
	visibility: hidden;
	transform: scale(0);
	transform-origin: 50% 100%;
	transition: transform 0.2s, visibility 0s 0.2s, opacity: 0.2s;
	opacity: 0;
	padding: 10px 10px;
	background-color: var(--secondary-background);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	font-size: 11px;
	color: var(--secondary-foreground);
}

.hotkeys-panel {
	left: 0;
	border-radius: 4px;
	height: 50px;
	width: -webkit-fit-content;
	height: -webkit-fit-content;
	width: -moz-fit-content;
	height: -moz-fit-content;
	bottom: 2em;
	margin: auto;
	transform: scale(1);
}

.hotkeys-panel.expanded {
	opacity: 0.5;
	visibility: visible;
	bottom: 3em;
	transition: all 200ms ease;
}

.hotkeys-panel.expanded:hover {
	opacity: 0.75;
	visibility: visible;
	bottom: 3em;
	transition: all 200ms ease;
}

.hotkeys-panel .hotkey-element {
	display: inline-block;
	padding: 5px;
	margin-left: 7px;
	margin-right: 7px;
	cursor: pointer;
}

.hotkeys-panel .hotkey-element.disabled {
	cursor: not-allowed;
	opacity: 0.2 !important;
}

.hotkeys-panel .hotkey-element:not(.disabled):hover .hotkey-key {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.hotkeys-panel .hotkey-element:not(.disabled):hover .hotkey-description {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.hotkeys-panel .hotkey-element:not(.disabled):active .hotkey-key {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
}

.hotkeys-panel .hotkey-element:not(.disabled):active .hotkey-description {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.26);
}

.hotkeys-panel .hotkey-key {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	font-weight: 600;
	border-radius: 4px 0px 0px 4px;
	background-color: var(--primary-background);
	box-shadow: 0 0 5px rgba(0,0,0,0.26);

}

.hotkeys-panel .hotkey-description {
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0px 4px 4px 0px;
	background-color: var(--primary-disabled);
	color: var(--tertiary-foreground);
	box-shadow: 0 0 5px rgba(0,0,0,0.26);
}

.fab-wrapper .panel.expanded {
	height: auto;
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: transform 0.2s, visibility 0s 0s, opacity 0.2s;
}

.fab-wrapper .panel-button {
	height: 2.5em;
	width: 2.5em;
	font-size: 11px;
	border-radius: 50%;
	border: 0 none;
	background: var(--fab-primary-background);
	opacity: 0.5;
	color: var(--tertiary-foreground);
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	transform: scale(1);
	transition: all 200ms ease;
}

.fab-wrapper .panel-button.disabled {
	opacity: 0.2;
	background: var(--fab-primary-background);
}

.fab-wrapper .panel-element.activated .panel-button,
.fab-wrapper .panel-element.selected .panel-button {
	background: var(--primary-active);
}

.fab-wrapper .panel-element-title {
	font-weight: 600;
}

.fab-wrapper .panel-element.activated .panel-button#updateScoresBtn i,
.fab-wrapper .panel-element.activated .panel-button:hover#updateScoresBtn i {
	-webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.fab-wrapper .panel hr {
	margin-top: 0;
}

.fab-wrapper .panel-element {
	margin-bottom: 20px;
	transition: all 200ms ease;
}

.fab-wrapper .panel-element:last-child {
	margin-bottom: 0;
}

.fab-wrapper .panel-element-body {
	display: block;
    background-color: var(--fab-primary-background);
    color: var(--tertiary-foreground);
    text-align: center;
    border-radius: 6px;
    padding: 0px 0px;
    width: 150px;
    float: left;
    left: -155px;
    margin-top: -25px;
    position: absolute;
    z-index: 1;
    transition: all 200ms ease;
    transform: scale(0);
    transform-origin: 100% 50%;
}

.fab-wrapper .panel-element-data {
	padding: 5px;
}

.fab-wrapper .panel-element-data,
.fab-wrapper .panel-element-data > * {
	display: none;
}

.fab-wrapper .panel-element.selected .panel-element-data,
.fab-wrapper .panel-element.selected .panel-element-data > * {
	display: block;
}

.fab-wrapper .panel-button:hover + .panel-element-body, 
.fab-wrapper .panel-element.selected .panel-element-body {
	transform: scale(1);
}

.fab-wrapper .panel-button.disabled:hover + .panel-element-body {
	display: none;
}



